<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>Creditos</h1>
    <div id="autor">
    <p><img class="foto" src="../images/w201.png" alt="Imagen de MRC"></p>
    <p>Autor: <%= autor %></p>
  <video controls>
	<source src="../images/video.mp4" type="video/mp4">
	Tu navegador no soporta la pestaña de video.
</video>

    </div>

  </body>
</html>
