*{
  margin: 0;
  padding: 0;
}
body {

  font: 16px Georgia ,serif;
}
#page-wrap{
  margin: 2%;
  color: white;
}
#page-wrap > .main{
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1px;
  color: black;

}
section >div{
  padding: 20px;
}
header, nav, section{
  background: #eee;
  text-align: center;
}
footer{
  background: #eee;
  text-align: center;
}
nav span{
  margin: 0px 10px 0px 0px;
}
img{
  border-radius: 50% 0 50% 0; height:100px; width:100px;
}
.foto {
  transition: 1.5s ease;
   		-moz-transition: 1.5s ease; /* Firefox */
   		-webkit-transition: 1.5s ease; /* Chrome - Safari */
     -o-transition: 1.5s ease; /* Opera */}

.foto:hover{
  transform : scale(2);
		-moz-transform : scale(2); /* Firefox */
		-webkit-transform : scale(2); /* Chrome - Safari */
		-o-transform : scale(2); /* Opera */
		-ms-transform : scale(2); /* IE9 */

    }

video{
  width: 50%;
  height: 50%;
}
